<!DOCTYPE html>
<html>
      <head>
            <title>Create Degree</title>
            <meta charset="utf-8"/>
      </head>
      <body>
            <header><h1>Create a new degree</h1></header>
            <nav>
                  <a href="http://localhost:5000/students">View Students&nbsp;</a>
                  <a href="http://localhost:5000/degree-programs">View Degrees&nbsp;</a>
            </nav>
            <form method="post" action="http://localhost:5000/degree-programs">
                  <input type="text" name="code" placeholder="Degree Code" required="required"/>
                  <input type="text" name="name" placeholder="Degree Name" required="required"/>
                  <input type="submit"/>
            </form>
            <footer>&copy;Baul | 2015</footer>
      </body>
</html>


<!--
      Workhorse elements
      <p>paragraph tag</p>
      
      <h>headings</h>
      
      <ul>unordered list
            <li>list data</li>
            <li></li>
            <li></li>
      </ul>
      <ol>ordered list
            <li>list data</li>
            <li></li>
            <li></li>
      </ol>
      
      <table>
            <tr><></tr>
      </table>

      <img/>
      
      <div></div>

      <form></form>
      input(text, password, submit, radio, etc...)
      
      new html5 input
-->

<!--
      Validated http://validator.w3.org
      
      mandatory tags
      DOCTYPE
      html, body, head
      meta charset
      title
      
      Documents must have one root element
      
      Elements must be properly nested
      <ul>
            <li></li>
      </ul>

      Elements must always be closed, even singleton
      
      Elements must be in lowercase letters
      
      Attributes must be in lowercase letters
      
      Attribute values must be (double) quoted
      
      Attribute minimization is forbidden 
-->

