<!DOCTYPE html>
    <html>
        <head>
            <title>Functions</title>
            <meta charset="utf-8"/>
            <script src="functions.js"></script>
            <script src="baul_e7.js"></script>
        </head>
        <body>
            
            <script>
                var myCar = new car("AX 324", "Nissan Urvan G23F", "Apple Green");
                myCar.startCar();
                myCar.accelerate(20);
                myCar.decelerate(7);
            </script>
        </body>
    </html>